@using Abp.Json
@using Admin.Model

@model CreateOrEditToChucModalViewModel

    <style>
        .modal-dialog {
            max-width: 1280px;
        }
    </style>
<div class="modal-header" style="border-bottom: 1px solid #ebedf2; background-color: rgb(66,139,202);">
    <h4 class="text-center" style="color:white;width:100%;padding-top:5px;">
        <span>@L("CreateNew")</span>
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body" style="max-height: calc(100vh - 130px); padding: .2rem .2rem 1rem .2rem; ">
    <div class="tab-content">
        <form name="TcInformationsForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="Id" value="@Model.ToChuc.Id" />
            <input type="hidden" name="Tc_Cha_Id" value="@Model.ToChuc.Tc_Cha_Id" />

            <div class="col-md-12 mt-2" style=" display: flex; flex-wrap: wrap;">
                <h4 class="col-md-12" style="padding-top: 10px; margin-bottom: 0px;">Thông tin tổ chức</h4>
                <div class="col-md-4 mt-2">
                    <label for="Tc_Ma" class="col-md-12 mt-2">Mã<span style="color: red;"> *</span></label>
                    <input id="Tc_Ma" class="form-control form-control-sm col-md-12 mt-2" type="text" name="Tc_Ma" value="@Model.ToChuc.Tc_Ma" maxlength="100">
                </div>
                <div class="col-md-4 mt-2">
                    <label for="Tc_Ten" class="col-md-12 mt-2">Tên<span style="color: red;"> *</span></label>
                    <input id="Tc_Ten" class="form-control form-control-sm col-md-12 mt-2" type="text" name="Tc_Ten" value="@Model.ToChuc.Tc_Ten" maxlength="250">
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")