@using Abp.Configuration
@using Abp.MultiTenancy
@using Abp.Timing
@using AbpNet8.Features
@using AbpNet8.Web.Areas.App.Models.Layout
@using Abp.Extensions;
@using Abp.Zero.Configuration
@using AbpNet8.Configuration
@using AbpNet8.UiCustomization
@using AbpNet8.UiCustomization.Dto
@using AbpNet8.Web.Areas.App.Views.Shared.Components.AppSubscriptionBar

@model HeaderViewModel
@{
    Layout = null;
    // var isChatEnabled = (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature));
    UiCustomizationSettingsDto theme = await GetTheme();
}

<div class="kt-header__topbar">
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
        @if (Model.LoginInformations?.User?.Id > 0)
        {
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px" aria-expanded="false">
                <div class="kt-header__topbar-user">
                    @if (Model.IsImpersonatedLogin)
                    {
                        <i class="fa fa-reply kt--font-danger"></i>
                    }
                    <span class="kt-header__topbar-username">@Html.Raw(Model.GetShownLoginName())</span>
                    <img class="header-profile-picture" alt="Pic" src="@Model.ProfileImage" style="border-radius:50%;width: 34px; height: 34px;">
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1253px, 64px, 0px);">
                <div id="userprofile" class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background: url(@(ApplicationPath)metronic/themes/@theme.BaseSettings.Theme/images/bg/bg-1.jpg); background-size: cover; min-height: 100px;">
                    <div class="kt-user-card__avatar">
                        <img class="" alt="Pic" src="@Model.ProfileImage" style="border-radius:50%">
                    </div>
                    <div class="kt-user-card__name">
                        @Html.Raw(Model.GetShownLoginName())
                    </div>
                </div>
                <div class="kt-notification user-profile-menu">
                    <a href="#" class="kt-notification__item" id="UserProfileChangePasswordLink">
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                <span>
                                    @L("ChangePassword")
                                </span>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("Logout", "Account", new { area = string.Empty })" class="kt-notification__item">
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                <span>
                                    @L("Logout")
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="kt-header__topbar-wrapper" data-offset="0px,0px" aria-expanded="false">
                <a class="kt-header__topbar-user" id="dangnhaptc">
                    <i class="flaticon-users pr-2 text-light"></i>
                    <span class="kt-header__topbar-username">@L("DangNhap")</span>
                </a>
            </div>
        }
    </div>
</div>

<script id="linkedAccountsSubMenuTemplate" type="x-tmpl-mustache">
    {{#items}}
    <li class="kt-nav__item py-2">
        <a href="" data-user-id="{{id}}" data-tenant-id="{{tenantId}}" class="recently-linked-user">
            <span class="kt-nav__link-bullet">
                <span></span>
            </span>
            <span class="kt-nav__link-text">
                {{shownUserName}}
            </span>
        </a>
    </li>
    {{/items}}
</script>
<script id="headerNotificationBarTemplate" type="x-tmpl-mustache">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px" aria-expanded="true">
        <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
            {{#unreadCount}}
            <i class="flaticon-alert-2 unread-notification"></i>
            <span class="kt-badge kt-badge--primary unread-notification-count">
                {{unreadCount}}
            </span>
            {{/unreadCount}}
            {{^unreadCount}}
            <i class="flaticon-alarm"></i>
            {{/unreadCount}}
        </span>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
        <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b" style="background: url(@(ApplicationPath)metronic/themes/@theme.BaseSettings.Theme/images/bg/bg-1.jpg); background-size: cover; min-height: 100px;">
            <h3 class="kt-head__title">
                <span class="btn btn-success btn-sm btn-bold btn-font-md">{{unreadCount}} @L("NewNotifications")</span>
            </h3>
        </div>
        <div class="kt-grid-nav kt-grid-nav--skin-light">
            <div class="row m-4">
                <div class="text-left col-md-8">
                    {{#unreadCount}}
                    <a href="" id="setAllNotificationsAsReadLink">@L("SetAllAsRead")</a>
                    {{/unreadCount}}
                </div>
                <div class="text-right col-md-4">
                    <a id="openNotificationSettingsModalLink" class="text-right" href="">@L("Settings")</a>
                </div>
            </div>
            <hr />
            <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">
                {{#notifications}}
                <a class="kt-notification__item {{#url}}user-notification-item-clickable{{/url}} {{#isUnread}}user-notification-item-unread{{/isUnread}}" data-url="{{url}}">
                    <div class="kt-notification__item-icon">
                        <i class="{{icon}} kt-font-success"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title">
                            {{text}}
                        </div>
                        <div class="kt-notification__item-time">
                            {{timeAgo}}
                            {{#isUnread}}
                            <span data-notification-id="{{userNotificationId}}" class="set-notification-as-read">
                                @L("SetAsRead")
                            </span>
                            {{/isUnread}}
                        </div>
                    </div>
                </a>
                {{/notifications}}
                {{^notifications.length}}
                <span class="notification-empty-text p-3">
                    @L("ThereIsNoNotification")
                </span>
                {{/notifications.length}}
            </div>
            {{#notifications.length}}
            <hr />
            <div class="m-4">
                <div class="text-center"><a href="@Url.Action("Index", "Notifications", new {area = "App"})">@L("SeeAllNotifications")</a></div>
            </div>
            {{/notifications.length}}
        </div>
    </div>
</script>