@using System.Globalization
@using Abp.Extensions
@using Abp.MultiTenancy
@using AbpNet8.Identity
@using AbpNet8.Localization
@addTagHelper *, Owl.reCAPTCHA
@model AbpNet8.Web.Models.Account.LoginFormViewModel
@inject SignInManager SignInManager

@section Scripts
{
    @if (ViewBag.UseCaptcha)
    {
        <recaptcha-script-v3/>
        <recaptcha-script-v3-js action="login" execute="false" />
    }
    <script abp-src="/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
}

@section Styles{
    <link href="/metronic/common/css/login-1@(CultureHelper.IsRtl ? ".rtl" : "").css" rel="stylesheet"/>
}

@if (!Model.SuccessMessage.IsNullOrEmpty())
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.SuccessMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!--begin::Signin-->
<div class="login-form">
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg" style="text-align: center; font-size: 34px !important;">Đăng nhập</h3>
    </div>
    <!--begin::Form-->
    <form class="login-form form" asp-action="Login" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <input type="hidden" name="returnUrlHash" />
        <input type="hidden" name="ss" value="@ViewBag.SingleSignIn" />

        @* <div class="form-group mb-6">
            <input class="form-control form-control-solid h-auto rounded-lg font-size-h6" id="maSoThue" type="text" placeholder="Mã số thuế" name="maSoThue">
        </div> *@

        <div class="form-group mb-6">
            <input class="form-control form-control-solid h-auto rounded-lg font-size-h6" id="usernameOrEmailAddress" type="text" placeholder="Tên đăng nhập" name="usernameOrEmailAddress" autocomplete="new-password" value="@(Model.UserNameOrEmailAddress ?? "")" required>
        </div>

        <div class="form-group mb-6" style="position: relative">
            <input class="form-control form-control-solid h-auto rounded-lg font-size-h6" id="password" type="password" placeholder="Mật khẩu" name="password" autocomplete="new-password">
            <i class="fa fa-eye-slash" id="togglePassword" style="position: absolute; top: 10px; right: 10px; font-size: 19px; cursor: pointer;" aria-hidden="true"></i>
        </div>

        <div class="form-group d-flex justify-content-between mt-4">
            <label class="checkbox checkbox-outline" style="color: black">
                <input type="checkbox" name="rememberMe" value="true">
                <span>
                </span>
                Ghi nhớ đăng nhập
            </label>
        </div>
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <button type="button" id="kt_login_signin_submit" class="btn btn-block btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Đăng nhập</button>
        </div>

       @*  <div>
            <span class="form-text" style="text-align: right">@Html.Raw("<a href=\"" + Url.Action("QuenMatKhau", "Account", new {area = ""}) + "\">" + "Quên mật khẩu" + "</a>")</span>
        </div> *@
        <!--end::Action-->
    </form>

    <!--end::Form-->

    <!--begin::Options-->
    @{
        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync())
            .Where(s => !s.DisplayName.IsNullOrWhiteSpace())
            .ToList();

        Func<string, string> getSocialIconClass = (provider) =>
        {
            provider = provider.ToLower(CultureInfo.InvariantCulture);
            return provider;
        };
    }

    @if ((AbpSession.MultiTenancySide != MultiTenancySides.Host || !ViewBag.IsMultiTenancyEnabled) && loginProviders.Count > 0)
    {
        <!--begin::Divider-->
        <div class="divider mt-10 mb-2">
            <div class="divider">
                <span>@L("LoginWith")</span>
            </div>
        </div>

        <!--end::Divider-->
        <div class="pb-lg-0 pb-5 external-logins">
            <form asp-action="ExternalLogin" method="post">
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
                <input type="hidden" name="provider" value=""/>
                <input type="hidden" name="ss" value="@ViewBag.SingleSignIn"/>

                @foreach (var p in loginProviders)
                {
                    <a href="javascript:;" data-provider="@p.DisplayName" class="btn btn-sm btn-light-primary font-weight-bolder py-2 social-login-icon mb-2">
                        <i class="fab fa-@getSocialIconClass(p.DisplayName)"></i>
                        @p.DisplayName
                    </a>
                }
            </form>
        </div>
    }
    <!--end::Options-->
</div>

